.c-container__career {
    min-width: rem(320);
    max-width: rem(1440);
    margin: 0 auto;
    padding: rem(50) rem(15);
}

.c-career__info-item {
    text-align: center;
    margin-bottom: rem(10);
}

.c-career__text {
    font-family: "AcromBold" ,sans-serif;
    font-size: rem(16);
    line-height: rem(24);
    color: $title;
}
.c-career__number {
   font-size: rem(36);
    font-family: "AcromExtrabold", sans-serif;

}

.c-gallery__img {
    //width: rem(290);
}

.c-career__img {
    margin: auto;
    text-align: center;
}

.c-career__work {
    text-align: center;
}

.c-career__text--white {
    background: $title;
    color: $white;
}

.c-career__title {
    font-family: "AcromExtrabold" ,sans-serif;
    font-size: rem(38);
    text-transform: uppercase;
    line-height: rem(50);
    color: $title;
    margin: rem(20) 0;

}

.c-career__text-slim {
    font-family: "Acrom" ,sans-serif;
    font-size: rem(14);
    line-height: rem(21);
    color: $main-text;
}

.c-career__text-info {
    font-family: "AcromBold" ,sans-serif;
    font-size: rem(16);
    line-height: rem(24);
    color: $title;
}

.c-career__text-slim {
    margin: rem(5) 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {

    .c-career {
        display: flex;
        justify-content: space-between;
    }

    .c-career__counter {
        flex-basis: 51%;
    }

    .c-career__info {
        display: flex;
        margin: rem(10) 0 rem(10);
        justify-content: space-between;
    }

    .c-career__info-item {
        text-align: left;
        margin-bottom: 0;
    }

    .c-career__work {
        flex-basis: 40%;
        text-align: left;
    }

    .c-career__number {
        font-size: rem(25);

    }

    .c-career__text-info {
        font-size: rem(11);
    }

    .c-career__text {
        font-size: rem(10);
    }

    .c-career__text-slim {
        font-size: rem(10);
    }

}

@media (min-width: 960px) {
    .c-career__title {
        font-family: "AcromExtrabold" ,sans-serif;
        font-size: rem(48);
        text-transform: uppercase;
        line-height: rem(50);
        color: $title;
        margin: rem(20) 0 rem(50);
    }

    .c-career__text--white {
        font-size: rem(16);
    }

    .c-career__text-slim {
        font-size: rem(14);
    }

    .c-work {
        line-height: rem(40);
    }

    .c-career__work::before {
        display: block;
        content: "ABOUT";
        font-size: rem(120);
        position: absolute;
        color: rgba(0,0,0,0.1);
        font-family: "AcromExtrabold" ,sans-serif;
        transform: rotate(90deg);
        top: rem(180);
        left: 30%;
        line-height: rem(130);
    }


    .c-career__work {
        position: relative;
        flex-basis: 45%;
    }


}

@media (min-width: 1024px) {

    .c-career__info-item::before {
        display: block;
        content: '';
        width: rem(12);
        height: rem(12);
        background-color: $title;
        margin-bottom: rem(5);

    }

    .c-career__title::before {
        display: block;
        content: '';
        width: rem(7);
        height: rem(40);
        background-color: $title;
        margin: rem(10) 0 rem(40);
    }

    .c-career__title {
        margin-top: 0;
    }

    .c-career__work {
        flex-basis: 45%;
    }

    .c-career__work::before {
        line-height: rem(130);
        top: rem(200);
        font-size: rem(140);
    }

    .c-career__work::before {
        left: 23%;
    }


}

@media (min-width: 1440px) {

    .c-career__number {
        font-size: rem(36);
        margin: rem(38) 0 rem(26);
    }
    .c-career__text-info {
        font-family: "AcromBold", sans-serif;
        font-size: rem(16);
        line-height: rem(19);

    }

    .c-career__text-info--swap {
        width: rem(160);
    }

    .c-career__info {
        margin: rem(250) 0 rem(95);

    }

    .c-career__title {
        margin-top: rem(250);
        font-size: rem(48);
        line-height: rem(60);
        width: rem(350);
    }

    .c-career__title::before {
        height: rem(50);
        margin: 0  0 rem(76) 0;
    }

    .c-career__counter {
        flex-basis: 45%;

    }

    .c-career__work::before {
        line-height: rem(130);
        top: rem(580);
        font-size: rem(220  );
    }

    .c-gallery__img {
        margin-bottom: rem(109);
    }

    .c-career__text--white {
        font-size: rem(16);
    }

    .c-career__text-slim {
        font-size: rem(14);
    }

    .c-career__title {
        margin-bottom: rem(89);
    }

    .c-career__text--double {
        width: rem(140);
        margin-bottom: rem(19)
    }

    .c-work {
        width: rem(386);
    }

    .c-career__text-slim {
        margin-bottom: rem(20);
        font-size: rem(14);
    }

    .c-career__work::before {
        left: 0;
    }
}

