.a-contact__wrapper {
    min-width: rem(320);
    max-width: rem(1440);
    margin: 0 auto;
   
}

.a-portret__wrapper {
    //width: ;
}

.a-portret__photo {
    width: rem(98);
    height: rem(98);
}





@media (min-width: 480px) {}

@media (min-width: 768px) {}

@media (min-width: 960px) {}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}
