 .c-courses{
    width: 71.5625rem;
    height: 40.3125rem;
    border: 1px solid $footer-text;
    margin: auto;
    background-image: url("../images/mantable.png");
    background-repeat: no-repeat;
    background-position: center;
}
