
/* Page 'CONTACTS, bottom'*/
* {
    list-style-type: none;
}

.a-team {
    margin-bottom: rem(39);
}


.a-team__item {
    display: inline-flex;
    margin:0 auto rem(39);
}

.a-team__item:last-child {
    margin: 0 auto 0;
}

.a-team__photo {
    width: rem(98);
    height: rem(98);
    margin-right: rem(8);
}
/* Contacts of our VIP */
.a-team__content {
    font-family: "Acrom",sans-serif;
    text-align: left;
    width: rem(200);
    line-height: rem(21);

}
.a-name {
    color:  $title;
    font-size: rem(18);
    font-weight: 900;

}
.a-job {
    color:  #ffffff;
    font-size: rem(12);
    font-weight: 500;
    background-color: $title;
    display: inline-block;

}
.a-role-in-company, .a-email-contact {
    color:  #6b6f7a;
    font-size: rem(14);
    font-weight: 400;
}



.a-wrapped-email {
    color:  $title;
    font-size: rem(14);
    font-weight: 900
}

.a-contact-link {
    color: $button;
}

.a-contact-link:hover {

}

.a-contact-link:active {

}



@media (min-width: 480px) {

}

@media (min-width: 768px) {
    .a-team {
        display: flex;
        flex-wrap: wrap;
    }

    .a-team__item:nth-last-child(-n+2) {
        margin:0 auto 0;
    }
}

@media (min-width: 960px) {
    .a-team__photo {
        margin-right: rem(14);
    }

    .a-name {
        margin-bottom: rem(10);
    }

    .a-role-in-company, .a-email-contact {
        margin-top: rem(12);
        margin-bottom: rem(16);
    }

    .a-email-contact {
        padding-top: 0;
    }

}

@media (min-width: 1024px) {
    .a-team__photo {
        margin-right: rem(20);
    }

    .a-team__item {
        flex-basis: 30%;
    }

    .a-team__item:nth-last-child(-n+3) {
        margin:0 auto 0;
    }
    .a-name {
        margin-bottom: rem(14);
    }

    .a-role-in-company, .a-email-contact {
        margin-top: rem(18);
        margin-bottom: rem(24);
    }

    .a-email-contact {
        padding-top: 0;
    }


}

@media (min-width: 1140px) {
    .a-team__photo {
        margin-right: rem(30);
    }

    .a-team__item {
        flex-basis: 30%;
    }
    .a-name {
        margin-bottom: rem(16);
    }

    .a-role-in-company, .a-email-contact {

    }

    .a-email-contact {
        padding-top: 0;
    }


}

