
/* Page 'CONTACTS, bottom'*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


.a-contact__wrapper {
    min-width: rem(320);
    max-width: rem(1440);
    padding: rem(10) rem(10);
}

.a-lesser-contact__wraper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.a-portret__wrapper {
    display: inline-flex;
    margin:0 auto rem(39);

}

.a-portret__wrapper:last-child {
    margin-bottom: rem(20);
}

.a-portret-photo {
    width: rem(98);
    height: rem(98);
    margin-right: rem(8);
}
/* Contacts of our VIP */
.a-portret__content {
    font-family: Acrom;
    text-align: left;
    display: inline-block;
    width: rem(200);

}
.a-name {
    color:  $title;
    font-size: rem(18);
    font-weight: 700;
    line-height: rem(24);
}
.a-job {
    color:  #ffffff;
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(24);
    background-color: $title;
    display: inline;
}
.a-role-in-company, .a-email-contact {
    color:  #6b6f7a;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(18);
}
.a-email-contact {
    line-height: rem(21);
}

.a-wrapped-email {
    color:  $title;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(24);
}

.a-portret__content p:nth-child(6){
    color: $button;
}



@media (min-width: 480px) {
    .a-contact__wrapper {


    }

}

@media (min-width: 768px) {}

@media (min-width: 960px) {
    .a-lesser-content__wrapper {
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}
