* {
    margin: 40px;
}

.button {
    transition: all .25s ease-in-out;
    padding: rem(21) rem(24);
    font-size: rem(12);
    text-transform: uppercase;
    letter-spacing: rem(1);
    background-color: $button;
    color: $white;
    display: inline-block;
}

.button:hover {
    box-shadow: 0 8px 43px 0 rgba(255, 107, 8, 0.59);
}

.button-plus {
    transition: all .25s ease-in-out;
    background-color: $button;
    width: rem(24);
    height: rem(24);
    display: inline-block;
    border: rem(2) solid $button;
    color: $white;
    position: relative;
}

.button-plus::before {
    transition: all .25s ease-in-out;
    content: '+';
    display: block;
    color: $white;
    font-family: "Acrom" , sans-serif;
    font-size: rem(26);
    line-height: rem(20);
    text-align: center;
}

.button-plus:hover {
    background-color: $white;
    border: rem(2) solid $button;
    color: $button;
}

.button-plus:hover::before {
    color: $button;
}



.button-more {
    transition: all .25s ease-in-out;
    padding: rem(19) rem(42);
    font-size: rem(12);
    text-transform: uppercase;
    letter-spacing: rem(1);
    background-color: $white;
    border: 2px solid $button;
    color: $button;
    display: inline-block;
}

.button-more:hover {
    background-color: $button;
    color: $white;
}
