.sub-title__break {
    width: rem(440);
    margin-bottom: rem(35);
}

.sub-title__back {
    color: $white;
    background-color: $title;
    display: inline-block;
    line-height: rem(50);
}

#map {
    height: 287px;
    width: 100%;
}

.c-map__container,
.c-address__text {
    margin-bottom: rem(28);
}

.c-address__text-item,
.c-contacts__text-item,
.c-address__link {
    display: block;
}

.c-address__link-item {
    font-family: "Acrom" ,sans-serif;
    font-size: rem(12);
    line-height: rem(16);
    text-transform: uppercase;
    color: $button;
}

.c-address__link-item:before {
    content: '';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: rem(12);
    line-height: rem(16);
    text-align: center;
}
