.a-course__bottom {
    margin-top: rem(50);
    margin-bottom: rem(100);
}

.a-course__link {
@extend.title-third;
    text-decoration: none;

}
.a-course__item {
    margin-bottom: rem(100);
}

.a-course__item:last-child {
    margin-bottom: 0;
}

.a-sub-title {
    margin-bottom: rem(24);
    line-height: rem(35);
}

.a-start {
    color: #ffffff;
    background-color: #000000;
    font-family: "AcromExtrabold" ,sans-serif;
    font-size: rem(16);
    margin-right: 20px;
}

.a-date {
    font-family: "AcromBold" ,sans-serif;
    color: $button;
    background-color: #fff;
    display: block;
    font-size: rem(16);
}

.a-top__txt {
    margin-bottom: rem(38) ;
    font-family: "Acrom" ,sans-serif;
    font-size: rem(16);
    color: $main-text;
}

@media (min-width: 768px) {
    .a-course__item {
        margin-left: 7%;
    }
}

@media (min-width: 1024px) {
    .a-course__item {
        margin-left: 3%;
    }
}

@media (min-width: 1140px) {
    .a-course__item {
        margin-left: 5%;
    }
}
