

.a-courceTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a-chapter {
    display: block;
}
.a-cource__title {
    @extend .title-main;
    margin-bottom: rem(48);
    position: relative;
}
.a-cource__title:before {
    content: "<h>";
    font-family: "AcromBold" ,sans-serif;
    font-size: rem(12);
    text-transform: none;
    color: rgba(27, 67, 113, 255);
    position: absolute;
    top: rem(25);
    left: rem(0);
}
.a-cource__title:after {
    content: "</h>";
    font-family: "AcromBold" ,sans-serif;
    font-size: rem(12);
    text-transform: none;
    color: rgba(27, 67, 113, 255);
    position: absolute;
    bottom: rem(-42);
    left: rem(450);
}

.a-top__txt {
    margin-bottom: rem(38) ;
    font-family: "Acrom" ,sans-serif;
    font-size: rem(16);
    color: $main-text;

}
.a-chapterPic{
    display: block;
    width: 600px;

    background-color: #ff7f50;


}

@media (min-width: 768px) {
    .a-courceTop {
        flex-direction:row;
        align-self: center;
    }
    .a-chapter {
        width: 45%;
    }
    .a-top__txt {
        width: rem(300);
    }

}
@media (min-width: 1024px) {

    .a-chapter {
        width: 45%;
    }
    .a-top__txt {
        width: rem(380);
    }
    .a-chapterPic {
        width: 45%;
    }
    .a-courceTop {
        padding-left: rem(390);
    }

}
