

.a-cource-main {
   position: relative;
    padding: 0 15px;
    min-width: rem(320);
    max-width: rem(1140);
    margin: auto;
}

.a-cource__title {
    @extend .title-main;
    font-size: 50px;
    line-height: rem(50);
    //margin-bottom: rem(48);
    position: relative;
    width: rem(300);
    margin: 0 0 rem(48);
    text-align: center;
}
.a-cource__title:before {
    content: "<h>";
    font-family: "AcromBold" ,sans-serif;
    font-size: rem(12);
    text-transform: none;
    color: rgba(27, 67, 113, 255);
    position: absolute;
    top: rem(20);
    left: rem(0);
}
.a-cource__title:after {
    content: "</h>";
    font-family: "AcromBold" ,sans-serif;
    font-size: rem(12);
    text-transform: none;
    color: rgba(27, 67, 113, 255);
    position: absolute;
    bottom: rem(-20);
    left: 80%;
}

.a-top__txt {
    margin-bottom: rem(38) ;
    font-family: "Acrom" ,sans-serif;
    font-size: rem(16);
    color: $main-text;
}
.a-top__txt:last-child {
    margin-bottom: 0;
}
.a-chapter-pic{
    display: block;
    width: 100%;
    margin-top: rem(38);
}
.a-chapter-pic:after {
    display: none;
    content: "GOIT";
    @extend.title-main;
    transform: rotate(90deg);
    //color: #17ecff;
    color:$background-word;
    position: absolute;
    font-size: 260px;
    top: rem(240);
    left: 28%;
    z-index: -1;
}

@media (min-width: 768px) {
    .a-courceTop {
        display: flex;
        justify-content: center;
    }
    .a-chapter {
        width: 43%;
    }
    .a-chapter-pic {
        width: 43%;
    }
    .a-chapter-pic:after{
        display: block;
    }

}
@media (min-width: 1024px) {

    .a-cource__title {
        font-size: rem(100);
        line-height: rem(100);
        width: rem(460);
    }

    .a-cource__title:after {

        bottom: rem(-45);
        left: 90%;
    }
    .a-chapter-pic:after{
        left: 46%;
    }


}

@media (min-width: 1440px) {

    .a-chapter {
        width: 31%;
    }
    .a-chapter-pic:after{
        left: 63%;
    }

}



