$block-marg: 3.125rem;
$inblock-marg: 1.375rem;

/*.container {
    min-width: 30rem;
    max-width: 64rem;
    margin: 0 auto;
    height: 50rem;
    padding: 2rem;
}
*/

.a-main-caption {
    margin-bottom: 1rem;
}

.a-mid-left-cont__first {
    margin-bottom: $block-marg;

}
.a-mid-left-cont__second {
    margin-bottom: $block-marg;

}
.a-mid-left-cont__third {
   margin-bottom: $inblock-marg ;
}
.a-mid-left-cont__subtitle {
    margin-bottom: $inblock-marg;
    text-align: center;
}
.a-mid-left-cont__title {
    margin-bottom: $inblock-marg;
    text-align: center;
}
.a-mid-left-cont__par {
    margin-bottom: 3.375rem;
    text-align: center;
}
.a-background-pic {
    margin-bottom: 2rem;
}
.button-situated {
    display: block;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .a-mid-left-cont {

    }
    .a-main-caption {
        text-align: center;
    }

}

@media (min-width: 960px) {
    .a-background-pic {
        position: relative;
        width: 100%;
        left: -64px;
        top: -35px;
        z-index: -1;
    }
    .a-main-caption {
        margin-bottom: 0;
        width: rem(500);
        margin: 0 auto;
    }
    .a-container {
        width: 70%;
    }
    .a-mid-left-cont {
        margin-left: 6rem;
        border-bottom:1px solid #a2a2a2;
        margin-bottom: 1rem;
        width: 75%;
    }
    .button-situated {
        display: block;
        margin: 0;
        margin-bottom: 5rem;
    }
}



