.wrapper {
    min-width: rem(320);
    max-width: rem(1440);
    padding: 0 rem(15);
    margin: 0 auto;
}

.a-events {
    background-color: #f7f7f7;
    padding: rem(20);
    margin: auto;

}

.a-events__title {
    font-family: "AcromBold", sans-serif;
    font-size: rem(16);
    color: $title;
    text-align: center;
    margin-bottom: rem(50);
}

.text__span {
    display: block;
}

.a-pic__slider {
    margin: auto;
}

.a-events__pic {
    margin: rem(20) 0;
}

.a-events__text {
    font-family: "AcromBold", sans-serif;
    font-size: rem(14);
    color: $title;
    text-align: center;
}

@media (min-width: 768px) {

}
