.a-events-container {
    min-width: rem(320);
    max-width: rem(1140);
    padding: rem(15);
    margin-top: rem(50);
    text-align: center;
    margin: 0 auto;
}

.a-first-event__describe h4 {
    margin-bottom: rem(38);
}
.a-first-event__describe p {
    margin-bottom: 1rem;
}

.a-first-event-info__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        align-items: center;
    }
.a-first-event-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
.a-first-event__img {
        margin-bottom: 2rem;
    }

    /* second event */

.a-second-event {
        display: flex;
        flex-direction: column;
    }
.a-second-event__img {
    order: 1;
    margin-bottom: 2rem;
    }
.a-second-event__describe h4 {
    margin-bottom: rem(38);
}
.a-second-event__describe p {
    margin-bottom: 1rem;
}
.a-second-event-info__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
}
.a-second-event-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

@media (min-width: 480px) {
    .a-second-event__img {
        margin: 0 auto;
    }
    .button-white {
        margin-top: 2rem;
    }
    .a-first-event__img {
        margin: 0 auto 2rem;
    }
}
@media (min-width: 768px) {
    .events-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .a-second-event {
        flex-basis: 45%;
    }
    .a-first-event {
        flex-basis: 45%;
    }
    .a-second-event__describe p {
        margin-bottom: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .events-block {
        display: flex;
        flex-direction: column;
    }
    .a-first-event {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .a-second-event {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    .a-first-event__describe {
        flex-basis: 26%;
    }
    .a-first-event-info {
        flex-basis: 16.5%;
    }
    .a-first-event__img {
        flex-basis: 36.5%;
    }

    .a-second-event-info {
        flex-basis: 14.5%;
    }
    .a-second-event__describe {
        flex-basis: 26.5%;
    }
    .a-second-event__img {
        flex-basis: 31.5%;
        order: 0;
        margin-left: 11%;
        margin-right: 0;
    }
    .a-second-event-info__text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

