.container__header-landing {
    min-height: rem(85);
    //background-color: #181c27;
}

.wrapper__header {
    padding: rem(45) rem(20) 0 rem(20);
    display: flex;
    position: static;
}

.burger {
    width: rem(17);
    height: rem(2);
    background-color: $title;
    margin: 4px 0 3px auto;
    transition: all .5s;

    &-menu {
        padding-top: rem(5);
    }

    &__middle {
        width: rem(10);
    }

    &__bottom {
        width: rem(10);
    }

    &__landing {
        background-color: $white;
    }
}

.nav {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    &-list {
        list-style: none;
        display: none;
        opacity: 0;
        order: 2;
        z-index: 1;
        width: 100%;
        line-height: rem(32);

        &__show {
            display: block;
            opacity: 1;
            text-align: center;
            padding: rem(15) 0;
            margin: rem(15) 0;
            border-top: 1px solid rgba(255,255,255,.1);
            border-bottom: 1px solid rgba(255,255,255,.1);

            a {
                color: rgba(255,255,255,.4);
            }
        }
    }

    &__link {
        @extend .text-small;
        text-decoration: none;
        font-size: rem(14);
        color: #6b6f7a;

        &-landing {
            color: rgba(255, 255, 255, 0.4);
            text-transform: uppercase;
            font-family: "Acrom", sans-serif;
        }
    }

    &_item {
        background-color: rgba(255, 255, 255, 0.95);
        padding: rem(10) 0;
    }
}


@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }

    .nav {
        line-height: rem(34);
        flex-wrap: nowrap;

        &-list {
            display: flex;
            position: static;
            background-color: transparent;
            opacity: 1;
            line-height: rem(25);
            padding-left: rem(30);
        }

        &__item {
            text-align: center;
            padding: rem(0) rem(10);
            position: relative;
            background-color: transparent;

            &:last-child {
                padding-right: 0;
            }
        }

        &__link {
            font-size: rem(12);
            color: #000000;

            &:hover {
                font-family: "Acrom", sans-serif;
                font-size: rem(12);
                line-height: rem(10);
                color: rgba(255, 255, 255, 0.7);
            }

            &:hover:after {
                display: block;
                position: absolute;
                font-weight: 700;
                content: "";
                width: rem(20);
                height: rem(2);
                background-color: rgba(255, 255, 255, 0.7);
                top: 40px;
                left: 50%;
                transform: translate(-50%);
            }

            &-landing {
                color: rgba(255, 255, 255, 0.4);
                text-transform: uppercase;
                font-family: "Acrom", sans-serif;
            }
        }
    }
}


@media (min-width: 960px) {
    .nav__link {
        font-size: rem(14);

        &:hover {
            font-size: rem(14);
            line-height: rem(14);
        }

        &-landing {
            color: rgba(255, 255, 255, 0.4);
            text-transform: uppercase;
            font-family: "Acrom", sans-serif;
        }
    }
}

@media (min-width: 1024px) {
    .nav__link:hover {
        font-size: rem(14);
        line-height: rem(14);
    }

    .nav__link-landing {
        color: rgba(255, 255, 255, 0.4);
        text-transform: uppercase;
        font-family: "Acrom", sans-serif;
    }
}

@media (min-width: 1530px) {
    .logo {
        position: absolute;
        top: rem(40);
        left: rem(60);
    }

    .nav-list {
        margin-left: 0;
    }

    .nav__item:first-child {
        padding-left: 0;
    }

    .nav__link:hover:after {
        width: rem(20);
        height: rem(2);
    }

    .nav__link-landing {
        color: rgba(255, 255, 255, 0.4);
        text-transform: uppercase;
        font-family: "Acrom", sans-serif;
    }
}
