.header {
    display: flex;
    justify-content: space-around;
    position: relative;

}
.burger-menu:hover + .nav-list {
    display: flex;
    padding-bottom: 20px;




}
.burger {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 5px auto;


}
.nav-list {
    list-style: none;

    display: none;
    //display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: rem(50);
    right: 50%;
    transform: translate(50%);

}

.nav__link {
    text-decoration: none;

    @extend .text-small;
    font-size: rem(12);

}
.nav__link:hover::before {
    content: "_";
    display: block;
    position: absolute;
    top: rem(10);
    left: 50px;
    @extend .text-bold;
}
.nav__hover {
    justify-content: flex-start;
    align-items: flex-end;
}
.nav__hover:hover {
    margin-bottom: 10px;
}



