.header {
    display: flex;
    justify-content: space-around;
}
.burger-menu:hover > .nav-list {
    display: flex;



}
.burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 3px auto;


}
.nav-list {
    list-style: none;

    display: none;
    //display: flex;
    flex-direction: column;
    align-items: flex-end;
    //width: 200px;
    position: absolute;
    top: 30px;
    right: 0;

}
//.A-btn:hover {
//    @extend.nav-list;
//    display: flex;
//}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.A-btn {
    text-align: center;
}

.A-nav__link {
    text-decoration: none;

}
.nav__link:hover::before {
    content: "_";

    @extend .text-bold;
}

.logo {
    display: inline-block;

    width: 100px;
    height: 100px;
    background-color: #000000;
}

