.c-container-sphere {
    min-width: rem(320);
    max-width: rem(1440);
    margin: auto;
    padding: 0 rem(15);
    display: flex;
    flex-direction: column-reverse;
}

.c-sphere-gallery__img {
    display: none;
}

.c-sphere {
    text-align: center;
}

.c-sphere__number {
    font-family: "AcromExtrabold" ,sans-serif;
    font-size: rem(25);
    margin-bottom: rem(10);
}

.c-sphere__text {
    font-family: "AcromBold" ,sans-serif;
    font-size: rem(14);
    margin-bottom: rem(5);
}

.c-sphere__text-info {
    font-family: "Acrom" ,sans-serif;
    font-size: rem(14);
    margin-bottom: rem(5);
}

.c-it__info {
    text-align: center;
    margin: rem(30) 0 rem(30);
}

.c-it__info-text {
    font-family: "AcromExtrabold" ,sans-serif;
    font-size: rem(40);
}

@media (min-width: 768px) {
    .c-container-sphere {
        justify-content: space-between;
        flex-direction: row;
        position: relative;
    }

    .c-sphere-gallery__img {
        display: block;
        position: absolute;
        width: 43%;
        left: 35%;
        top: 27%;
    }

    .c-sphere {
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        text-align: left;
        flex-basis: 57%;
        padding-top: rem(60);
    }

    .c-sphere__item {
        margin-right: 10px;
        width: 30%
    }

    .c-it {
        flex-basis: 30%;
        align-items: center;
        display: flex;
    }

    .c-it__info-text {
        font-size: rem(28);
        text-align: right;
    }

    .c-it__info {
        margin: 0;
        top: 30%;
    }


}

@media (min-width: 960px) {
    .c-it__info-text {
        font-size: rem(35);
    }

    .c-container-sphere {
        flex-direction: row;
        position: relative;
        justify-content: space-between;
    }

    .c-it::after {
        display: block;
        content: "IT";
        color: rgba(0, 0, 0, 0.05);
        font-family: "AcromExtrabold" ,sans-serif;
        font-size: rem(350);
        transform: rotate(90deg);
        position: absolute;
        left: 50%;




    }

    .c-sphere-gallery__img {
        position: absolute;
        width: 40%;
        left: 32%;
        display: block;
        top: 22%;
    }

    .c-sphere {
        padding-top: 65px;
        flex-basis: 47%;
    }

    .c-sphere__item::before {
        display: block;
        content: "";
        width: rem(12);
        height: rem(12);
        background-color: $title;
        margin-bottom: rem(15);
    }

    .c-sphere__item {
        margin-right: 10px;
        padding-bottom: rem(15);
    }

    .c-it {
        flex-basis: 31%;
        display: flex;
        align-items: center;
        margin: 0;
    }

    .c-it__info {
        text-align: left;
        margin: 0;
    }

}

@media (min-width: 1024px) {
    .c-sphere {
        flex-basis: 57%;
    }

    .c-sphere-gallery__img {
        left: 34%;
    }

    .c-it__info-text::before {
        position: absolute;
        top: -30%;
        display: block;
        content: "";
        width: rem(7);
        height: rem(50);
        background-color: #000;
        left: 90%;


    }

    .c-it__info-text {
        position: relative;
        font-size: 51px;
        text-align: left;
        line-height: 51px;
    }
}

@media (min-width: 1140px) {
    .c-sphere {
        flex-basis: 50%;
        padding-top: rem(160);
    }

    .c-sphere-gallery__img {
        left: 30%;
        top: 27%;
    }

    .c-it__info-text {
        font-size: rem(55);
        text-transform: uppercase;
    }

    .c-it__info-text::before {
        top: -70%;
        left: 96%;

    }


}

