.b-sidebar {
    background-color: $white;
    padding: 0 rem(20);
}
.b-list-sidedar{
    padding-left: rem(1);
    padding-right: rem(1);
}
.b-title--sidebare {
    text-align: center;
    margin-bottom: rem(35);
    font-size: rem(41.8);
    text-transform: inherit;
}
.b-text-bold--ul {
    color:$button ;
    text-transform: inherit;
    margin-left: 2%;
    column-count: 2;
    list-style: none;
    //font-size: rem(0.8);
    margin-bottom: rem(60);
}
.b-text-bold--link {
    color:$button ;
    text-transform: inherit;
    font-size: rem(12);
    text-decoration: none;
}
.b-list-li:before {
    content: '>';
    font-weight: bold;
    color: $title;
    font-size: rem(16);
    margin-right: rem(16);
}

.b-img-sidebare {
   width: 100%;


}
.b-aside {
    margin-bottom: rem(60);
}
.b-img-aside {
    margin-bottom: rem(60);
}
.b-form-sidebare {
    background-color: #181c27;
    padding-top: rem(40);
    padding-left: rem(40);
    padding-bottom: rem(40);
    padding-right: rem(40);
}

.b-title-third--form {
    color: $white;
    font-size: rem(20);
}
.b-text-bold--form {
    color: $dark-blue ;
    margin-top: rem(10);
    //margin-bottom: rem(20);
    text-transform: inherit;
}
.b-input {
    width: 100%;
    background-color: rgba(0,0,0,0);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #32353f;
    line-height: rem(40);
    color: $white;
    font-size: rem(15);
    margin-bottom: rem(10);
}
.b-input::placeholder {
  @extend .text-small;
  color: $white;
    text-transform: inherit;
    font-size: rem(18);
}

.b-button--form {
    display: block;
margin: auto;
    border: none;
    padding-left : rem(34);
    padding-right: rem(34);
    margin-top: rem(30);
    font-weight: bold;
    font-size: rem(21)
}
@media (min-width: 480px) {
    .b-text-bold--link {
        font-size: rem(20);
    }
    .text-bold {
        line-height: rem(40);
    }
    .b-text-bold--ul {
        margin-left: 8%;
    }
    .b-input::placeholder {
        font-size: rem(22);
    }

    .b-button--form {
        padding-left : rem(82);
        padding-right: rem(82);
    }
    .text-bold {
        font-size: rem(19.2);
        margin-bottom: rem(14);
        margin-top: rem(22);
    }
    .b-list-li:before {
        font-size: 2rem;

    }

}
@media (min-width: 768px) {
  .b-sidebar {
      padding-left: 60px;
      padding-right: 60px;
  }
    .b-text-bold--ul {
        font-size: rem(20);
    }
    .b-text-bold--link {
        font-size: rem(25);
    }
    .b-text-bold--form {
        margin-top: 0;
        margin-bottom: 0;
    }
    .b-list-li {
        margin-bottom: 10px;
    }
    .b-title--sidebare {
        margin-bottom: 65px;
    }

    .b-aside {
        display: flex;
        justify-content: space-between;
        padding-left: rem(16);
        padding-right: rem(16);
        margin-bottom: rem(65);
    }
    .b-img-aside{
        flex-basis: 40%;
        margin-bottom: 0;
    }
    .b-form-sidebare {
        width: rem(262);
        //height: rem(330);
        flex-basis: 40%;
        padding-top: rem(24);
        padding-left: rem(24);
        padding-bottom: rem(24);
        padding-right: rem(24);
    }
   .b-button--form {
       padding-right: rem(48);
       padding-left: rem(48);
       font-size: rem(12);
       margin-top: rem(18);
   }
    .b-input::placeholder {
        font-size: rem(16);
    }
    .b-journal-article__picture:before {
        left: rem(-85);
    }
    .b-title-third--form {
        font-size: rem(14);
    }

}

@media (min-width: 960px) {

    .b-button--form {
        margin-top: rem(36);
    }
    .b-form-sidebare {
        padding-top: 3rem;
        padding-left: 2.5rem;
        padding-bottom: 2.5rem;
        padding-right: 2.5rem;
    }
    .b-title-third--form {
        font-size: rem(23.6);
    }
    .b-text-bold--form {
        margin-top:rem(20);
        margin-bottom: rem(8);
    }
    .b-input::placeholder {
        font-size: rem(20);
    }
    .b-title--sidebare {
        font-size: rem(54);
    }
    .b-list-sidedar {
        margin-bottom: rem(60);
    }
}

@media (min-width: 1024px) {
    .b-text-bold--ul {
        column-count: 1;
    }
    .journal {
        display: flex;
    }
    .b-aside {
        flex-direction: column;
        padding: 0;
    }
    .b-title--sidebare {
        margin-bottom: rem(35);
        font-size: rem(19);
        text-align: left;
        margin-left: 0;
    }
    .b-text-bold--ul {
        margin-left: 0;
        line-height: rem(22.4);
    }
    .journal {
        margin-top: rem(180);
    }
    .b-form-sidebare {
        margin-top: rem(60);
        padding-top: rem(40);
        padding-left: rem(40);
        padding-bottom: rem(40);
        padding-right: rem(40);
    }
    .b-title-third--form {
        font-size: rem(17);
    }
    .b-button--form {
        margin-top: rem(30);
    }
    .b-text-bold--link {
        font-size: rem(16);
    }
    .b-input::placeholder {
        font-size: rem(15);
    }
    .b-list-sidedar {
        margin-bottom: rem(50);
    }
    .b-list-li {
        margin-bottom: 0;
        line-height: rem(24);
    }
    .b-list-li:before {
        font-size :rem(22.4)
    }

}

@media (min-width: 1140px) {

}



