.landing__header {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.header__posit
{
         margin: auto 0px;
        padding-top: 25%;
        padding-bottom: 15%;
     position: relative;
    padding-left: 15px;
    padding-right: 15px;
    //text-align: center;

}
.header_backgroud{
    background-image: url("../images/header-bg-txt.jpg");
    background-repeat: no-repeat;
   background-position: 29% 0%;
    background-size:cover ;
    position: relative;


}
.header_footer{
    color: #9f9fa1;
    font-family: "Acrom";

}

.header_name{
    padding-bottom: 50px;
    font-family: "AcromExtraBold";
    //text-align: center;
    position: relative;
    color: white;
    font-size: rem(88);
    line-height: rem(90);

}

.header_name:before{
    content: "<h>";
    color: #1b4371;
    font-size: 10px;
    position: absolute;
    left: 0;
    font-family: "Acrom";
    top: -50px;
}
.header_name:after{
    content: "<h>";
    color: #1b4371;
    font-size: 10px;

    position: absolute;
    bottom:15%;
    right: 0;
    font-family: "Acrom";
    bottom: -5px;

}
.header_image{
    display: none;
}
@media (min-width: 480px) {

    .header_name{
        font-size: rem(140);
       // width: rem();
        line-height:rem(130);
    }
    .header_name:after{
        bottom: -40px;
        font-size: rem(15);
    }
    .header_name:before{
        top: -60px;
        font-size: rem(15);
    }
}
@media (min-width: 768px) {

    .header_image{
        display: block;
        position: absolute;
        z-index:1;
        top: 13%;
        width: rem(440);
        left: rem(300);


    }
    .header_name:after{
            display: none;
        }
    .header_name:before{
        font-size: rem(15);
    }
.header_name {
    line-height: rem(94);
    font-size: rem(88);
    width: rem(270);
}
    .name{
        width: rem(100);
    }
    .header__posit{
    padding-top: rem(180);
    }
    .header_footer{
        padding-left: 0px;
    }
    .header_backgroud{
        background-position: 45% 50%;


    }
@media (min-width: 1024px) {
    .header_image{
        width: rem(450);
        left: rem(550);
    }
    .header_name{
        font-size: rem(170);
        width: rem(525);
        line-height:rem(160);
    }
 .header_name:before{
     font-size: rem(18);
 }
}
    @media (min-width: 1140px) {
        .header_name{
            font-size: rem(200);
            width: rem(650);
            line-height: rem(180);
        }
        .header_image{
            width: rem(500);
            left: rem(600);
        }
        .header_footer{
           font-size: rem(20);
        }
        .header__posit{
            padding-top: rem(180);
        }
        .header_name:before{
            top: -70px;
        }
    }

}
