.c-block{
    min-width: rem(320);
    max-width: rem(1440);

}

.c-wrapper{
    background-image: url("../images/land-header/header-bg-txt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: rem(50);
}
.c-header{
    display: flex;
    flex-direction: column;
}

.c-header__title{
    font-size: rem(100);
    line-height: rem(112);
    color: $white;
    text-transform: uppercase;
    font-family: AcromExtrabold;
    width: 95%;
    margin: 0 auto;
}
.c-header:before{
    content: "< h >";
    font-family: "Acrom" ,sans-serif;
    font-size: rem(8);
    color: $dark-blue;
    text-transform: lowercase;
    position: absolute;
    top: rem(48);
    left: rem(5);
}
.c-header:after{
    content: "< /h >";
    font-family: "Acrom" ,sans-serif;
    font-size: rem(8);
    color: $dark-blue;
    text-transform: lowercase;
    position: absolute;
    top: rem(270);
    left: rem(277);
}
.c-header__history{
    font-family: Acrom;
    width: rem(247);
    line-height: rem(24);
    font-size: rem(16);
    color: #9298a0;
    padding-top: rem(35);
}
.c-header__history:before{
    content: "/";
}
.c-man{
    position: absolute;
    top: rem(138);
    left: rem(-50);
    display: none;
}
.c-video-button{
    width: rem(30);
    height: rem(30);
    border-radius: 50%;
    background-color: transparent;
    border-color: $checkbox;
    position: absolute;
    top: rem(272);
    left: 50%;
    transform: translate(-50%);
}
.c-video-play{
    width: rem(30);
    height: rem(30);
}
.fa-caret-right{
    font-family: FontAwesome;
    font-style: normal;
    font-size: rem(21);
    padding-left: rem(3);
    color: $white;
}
//Media 480
@media  (min-width: 480px){
    .c-header__title{
        width: 65%;

    }
    .c-header:before{
        top: rem(48);
        left: rem(88);
    }
    .c-header:after{
        top: rem(270);
        left: rem(360);
    }
}
//media 1024
@media (min-width: 1024px){
    .c-header__title{
        width: 30%;
    }
    .c-man{
        display: block;
        position: relative;
    }

}
