.c-container__massmedia {
    min-width: rem(320);
    max-width: rem(1140);
    margin: auto;
    padding: 0 rem(15);
}

.c-massmedia-paging {
    font-family: "AcromExtraBold", sans-serif;
    font-size: rem(12);
    color: $button;
    margin: rem(30) 0 rem(50) 0;

    &__numbers {
        margin: 0 rem(30);
    }

    &__selected {
        font-size: rem(30);
    }

    a {
        font-size: rem(18);
        color: $button;
        text-decoration: none;
    }
}

.title-third__tl-line {
    margin-top: rem(120);

    &:before {
        content: '';
        width: rem(7);
        height: rem(50);
        background-color: $title;
        position: absolute;
        top: rem(-70);
        left: rem(2);
    }
}

.c-massmedia-title {
    text-align: center;
}

.c-logo__item {
    display: flex;
    width: rem(100);
    height: rem(100);
    justify-content: center;
    align-items: center;
}

.c-logo__item--forbes {
    background-color: #ff6b08;
}

.c-logo__item {
    width: rem(263);
    height: rem(176);
    margin: auto;
    border: rem(1) solid #333;
    margin-bottom: rem(20);
}

@media (min-width: 480px) {
    .c-massmedia-title {
        width: 50%;
        //margin: auto;
    }

    .c-logo__item--company {
        display: none;
    }

    .c-logo__item {
        width: rem(208);
        height: rem(176);
    }

    .c-logo {
        display: flex;
    }

}

@media (min-width: 768px) {
    .c-massmedia-title {
        width: 100%;
    }

    .c-logo__item--company {
        display: flex;
    }

    .c-logo__item {
        width: rem(230);
        height: rem(176);
    }
}

@media (min-width: 960px) {
    .c-container__massmedia {
        display: flex;
        justify-content: space-between;
    }

    .c-logo__item {
        width: rem(210);
        height: rem(176);
        margin: 0;
    }

    .c-logo {
        width: 70%;
        justify-content: space-between;
    }

    .c-massmedia-title {
        width: 23%;
    }
}


@media (min-width: 1024px) {
    .c-container__massmedia {
        display: flex;
        justify-content: space-between;
    }

    .c-massmedia-title {
        width: 23%;
    }

    .c-logo {
        width: 70%;
        justify-content: space-between;
    }

    .c-logo__item {
        width: rem(220);
        height: rem(176);
        margin: 0;
    }
}

@media (min-width: 1140px) {
    .c-logo__item {
        width: rem(250);
        height: rem(176);
        margin: 0;
    }

    .c-logo {
        width: 73%;
        justify-content: space-between;
    }

    .c-massmedia-title {
        width: 20%;
        text-align: left;
    }
}





