.c-block-partners{
    min-width: rem(320);
    max-width: rem(1440);
    padding: 0 rem(15);
}


.c-block-partners h1{
    font-size: rem(40);
    width: rem(300);
}
//.c-wrapper-partners .sub-title:after{
//    content: "";
//    display: block;
//    position: relative;
//    width: rem(7);
//    height: rem(50);
//    background-color: #000000;
//    left: rem(250);
//    top: rem(-15);
//}


.c-partner__sprite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: rem(20);
}
.c-partner__sprite li{
   list-style-type: none;
    flex-basis: 30%;
    padding: rem(5);
}
.c-partner__sprite a{
    display: block;

}

.bg-Layer_327 {
    width: 59px; height: 21px;
    background: url('../images/partners/css_sprites.png') -76px -227px;
}
.bg-Layer_328 {
    width: 72px; height: 38px;
    background: url('../images/partners/css_sprites.png') -168px -10px;
}
.bg-Layer_330 {
    width: 138px; height: 29px;
    background: url('../images/partners/css_sprites.png') -10px -10px;
}
.bg-Layer_333 {
    width: 111px; height: 20px;
    background: url('../images/partners/css_sprites.png') -10px -150px;
}
.bg-Layer_334 {
    width: 86px; height: 23px;
    background: url('../images/partners/css_sprites.png') -260px -102px;
}
.bg-Layer_337 {
    width: 109px; height: 29px;
    background: url('../images/partners/css_sprites.png') -10px -101px;
}
.bg-Layer_332 {
    width: 88px; height: 25px;
    background: url('../images/partners/css_sprites.png') -260px -10px;
}
.bg-Layer_338 {
    width: 134px; height: 22px;
    background: url('../images/partners/css_sprites.png') -10px -59px;
}
.bg-Layer_341 {
    width: 72px; height: 38px;
    background: url('../images/partners/css_sprites.png') -168px -68px;
}
.bg-Layer_331 {
    width: 80px; height: 27px;
    background: url('../images/partners/css_sprites.png') -260px -55px;
}
.bg-Layer_342 {
    width: 117px; height: 17px;
    background: url('../images/partners/css_sprites.png') -10px -190px;
}
.bg-Layer_336 {
    width: 92px; height: 16px;
    background: url('../images/partners/css_sprites.png') -141px -150px;
}
.bg-Layer_335 {
    width: 76px; height: 19px;
    background: url('../images/partners/css_sprites.png') -260px -184px;
}
.bg-Layer_343 {
    width: 46px; height: 34px;
    background: url('../images/partners/css_sprites.png') -10px -227px;
}
.bg-Layer_340 {
    width: 77px; height: 19px;
    background: url('../images/partners/css_sprites.png') -260px -145px;
}
.bg-Layer_347 {
    width: 81px; height: 16px;
    background: url('../images/partners/css_sprites.png') -147px -190px;
}
.bg-Layer_336 {
    width: 92px; height: 16px;
    background: url('../images/partners/css_sprites.png') -141px -150px;
}
.c-tender .text{
    text-transform: none;
    background-color: #000000;
    display: inline-block;
    color: $white;
    padding-right: rem(2);
    margin-bottom: rem(20);
}
.c-tender{
    position: relative;
}
.c-tender .text-small{
    text-transform: none;
}
.c-tender__oon-img{
    position: absolute;
    top: rem(0);
    left: 50%;
    z-index: -1;
}
.c-awards .text{
    text-transform: none;
    background-color: #000000;
    display: inline-block;
    color: #fff;
    padding-right: rem(2);
    margin-bottom: rem(20);
    margin-top: rem(15);
}
.c-award{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: rem(15);
}
.c-award .text-small:nth-child(2){
    text-transform: none;
    font-weight: bold;
    color: #000;
    padding-top: rem(5);
    padding-bottom: rem(5);

}
.c-award .text-small:nth-child(3){
    text-transform: none;
}
.c-award img{
    padding-left: rem(15);
}
.c-educ{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.c-educ .text-small:nth-child(2){
    text-transform: none;
    font-weight: bold;
    color: #000;
    padding-top: rem(5);
    padding-bottom: rem(5);

}
.c-educ .text-small:nth-child(3){
    text-transform: none;
}
.c-educ img{
    padding-left: rem(15);
}
