.b-project2-top-block {
    width: 100%;
    background-image: url(../images/project2.jpg)  ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 rem(16) rem(16) rem(16) ;
}
.b-title-main--white2 {
    color: $white;
    font-size: rem(40);
    text-align: left;
    line-height: rem(60);
    margin-left: 9%;
    margin-bottom: rem(20);
}


