.b_main {
    min-width: rem(320);
    max-width: rem(1440);
    padding: 1rem;
    position: relative;
}
.sub-title {
    font-size: 1.3rem;
    text-align: center;
}
.text-small {
    font-size: 0.575rem;
}
.b_project {
    position: relative;
    margin-bottom: rem(10);
}
.b_project__link {
    color:  $button;
    font-size: rem(12);
    position: absolute;
    bottom: rem(-20);
    text-decoration: none;
}
.b_project__link:before {
    content: "\f178";
    font-family: "fontawesome";
    margin-right: rem(13);
}


@media (min-width: 768px) {
    .b_main:before {
        content: "projects";
        text-transform: uppercase;
        font-family: "Acrom";
        font-size: 9rem;
        font-weight: bold;
        -webkit-transform: rotate(90deg) translate(0, 65%);
        transform: rotate(90deg);
        display: block;
        color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: -90px;
        left: 50%;
        transform-origin: left;
    }
    .b_project {
        display: flex;
        justify-content: space-between;
    }
    .b_project__description {
        flex-basis: 50%;
    }
    .b_project__img {
        flex-basis: 40%;
    }
    .b_project__link {
        position: static;
    }
}

@media (min-width: 960px) {
    .b_main:before {
        font-size: 11rem;
    }
}

@media (min-width: 1024px) {
    .b_main:before {
        font-size: 13rem;
    }
    .sub-title {
        text-align: left;
        font-size: rem(48);
    }
    .b_project:nth-child(2n+1) {
        flex-direction: row-reverse;
    }
    .b_project {
        justify-content: space-evenly;
        margin-bottom: rem(150);
    }
    .b_project__description {
        flex-basis: 40%;
    }
    .b_project__link {
        font-size: 1rem;
    }
    .text-small {
        margin: 40px 0;
    }
}

@media (min-width: 1440px) {
    .b_main:before {
        font-size: 15rem;
    }
    .sub-title {
        width: 80%;
    }
    .text-small {
        font-size: rem(14);
    }
}
