.a-wrapper {
    min-width: rem(320);
    max-width: rem(1440);
    padding: 0 rem(15);
    margin: 0 auto;
}

.a-result__title-bottom {
    margin-bottom: rem(40);
}

.ab-result__play {
    margin-bottom: rem(40);
}

.a-result__title-bottom {
    text-align: center;
}
.ab-result__text {
    font-family: "Acrom" ,sans-serif;
    font-size: rem(14);
    line-height: rem(21);
    color: $main-text;
    margin-bottom: rem(40);
}

.ab-result__text-bottom {
    margin-bottom: rem(40);
}

.ab-result {
    padding-top: rem(150);
    padding-bottom: rem(50);
}

.a-result__pic {
    display: block;
    margin: auto;
}

.ab-result__bottom {
    display: flex;
    justify-content: space-between;
}


@media (min-width: 960px) {

    .ab-result__main {
        display: flex;
        justify-content: space-between;
        padding: rem(150) 0;
        border-bottom: 2px solid #f7f7f7;
    }

    .a-result__title-bottom {
        margin-top: 0;
    }

    .ab-result__text-bottom {
        margin-bottom: 0;
    }

    .ab-result__play {
        flex-basis: 43%;
        margin: 0;
    }

    .ab-result__box {
        flex-basis: 45%;
    }
    .a-result__title-bottom {
        text-align: left;
    }

    .ab-result__main:last-child {
        border-bottom: none;
    }

    .ab-result {
        padding-bottom: 0;
    }
}

@media (min-width: 1024px) {

    .ab-result__box {
        flex-basis: 42%;
    }

}
