.c-container__result {
    min-width: rem(320);
    max-width: rem(1440);
    margin: auto;
    padding: 0 rem(15);
}

.c-photo__result {
    width: 100%;
    margin-bottom: rem(30);
}

.c-info__item {
    text-align: center;
}

.c-info__text {
    font-family: "Acrom" ,sans-serif;
    font-size: rem(14);
    line-height: rem(21);
    color: $main-text;
    margin-bottom: rem(20);
}

.c-info__result {
    margin-bottom: rem(20);
}

@media (min-width: 768px) {
    .c-container__result {
        display: flex;
        justify-content: space-between;
    }

    .c-container__result-img {
        flex-basis: 40%;
    }

    .c-info__item {
        flex-basis: 40%;
    }

}

