

.a-result__top {
    position: relative;
    padding: 0 15px;
    min-width: rem(320);
    max-width: rem(1140);
    margin: auto;
}

.a-result__title {
    @extend .title-main;
    font-size: 50px;
    line-height: rem(50);
    //margin-bottom: rem(48);
    position: relative;
    width: rem(300);
    margin: 0 auto rem(48);
    text-align: center;
}
.a-result__title:before {
    content: "<h>";
    font-family: "AcromBold" ,sans-serif;
    font-size: rem(12);
    text-transform: none;
    color: rgba(27, 67, 113, 255);
    position: absolute;
    top: rem(20);
    left: rem(0);
}
.a-result__title:after {
    content: "</h>";
    font-family: "AcromBold" ,sans-serif;
    font-size: rem(12);
    text-transform: none;
    color: rgba(27, 67, 113, 255);
    position: absolute;
    bottom: rem(-20);
    left: 93%;
}

.a-course__txt {
    margin-bottom: rem(38) ;
    font-family: "Acrom" ,sans-serif;
    font-size: rem(16);
    color: $main-text;
}
.a-course__txt:last-child {
    margin-bottom: 0;
}
.a-result__pic{
    display: block;
    width: 100%;
    margin-top: rem(38);
}

@media (min-width: 768px) {
    .a-result__pic:after {
        content: "GOIT";
        transform: rotate(90deg);
        color:$background-word;
        position: absolute;;
        z-index: -1;
        font-family: "AcromExtrabold" ,sans-serif;
        font-size: rem(180);
        top: 15%;
        left: rem(-8);
    }
    .a-result__top {
        display: flex;
        justify-content: center;
    }
    .a-result__chapter {
        width: 43%;
    }
    .a-result__pic {
        width: 43%;
        position: relative;
    }
}

@media (min-width: 960px) {
    .a-result__title {
        margin: 0 0 rem(48);
    }

    .a-result__pic:after {
        left: rem(40);
    }
}

@media (min-width: 1024px) {

    .a-result__title {
        font-size: rem(80);
        line-height: rem(80);
        width: rem(550);
    }

    .a-result__title:after {
        bottom: rem(-45);
        left: 90%;
    }
    .a-result__pic:after{
        left: 14%;
    }

    .a-result__chapter {
        width: 50%;
    }
}

@media (min-width: 1140px) {

    .a-result__top {
        justify-content: space-evenly;
    }

    .a-result__chapter {
        width: 41%;
    }
    .a-result__pic:after{
        left: 15%;
        font-size: rem(200);
    }



}




