.a-wrapper {
    min-width: rem(320);
    max-width: rem(1440);
    padding: 0 rem(15);
    margin: 0 auto;
}

.a-result__title {
    margin-bottom: rem(40);
}

.a-result__play {
    margin-bottom: rem(40);
}

.a-result__title {
    text-align: center;
}
.a-result__text {
    font-family: "Acrom" ,sans-serif;
    font-size: rem(14);
    line-height: rem(21);
    color: $main-text;
    margin-bottom: rem(40);
}

.a-result__text-bottom {
    margin-bottom: rem(40);
}

.a-result {
    padding-top: rem(150);
    padding-bottom: rem(150);
}

.a-result__pic {
    display: block;
    margin: auto;
}

.a-result__bottom {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 960px) {

    .a-result__main {
        display: flex;
        justify-content: space-between;
    }

    .a-result__title {
        margin-top: 0;
    }

    .a-result__text-bottom {
        margin-bottom: 0;
    }

    .a-result__play {
        flex-basis: 43%;
    }

    .a-result__box {
        flex-basis: 45%;
    }
    .a-result__title {
        text-align: left;
    }
}

@media (min-width: 1024px) {

    .a-result__box {
        flex-basis: 42%;
    }
}
