.a-sidebar-wrapper {
}
.sup {
    font-size: rem(7);
}

* {
    list-style-type: none;
}
body {
    padding-bottom: rem(50);
}
.a-text-transform__cleared {
    text-transform: none;
    margin-bottom: rem(8);
}

.a-sidebar-block {
    margin-bottom: rem(30);
    width: 100%;
    text-align: center;
}

.sidebar-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.a-format-data {
    margin-bottom: rem(19.5);
    text-align: center;
}

.last__format-data {
    width: 100%;
}

.title-space {
    margin-top: rem(13.5);
    margin-bottom: rem(10);
}
.a-sidebar-block__img {
    margin: 0 auto;
}


@media (min-width: 960px) {
    .a-format-data {
        text-align: left;
    }

    .a-sidebar-block {
        margin-bottom: rem(58);
        text-align: left;
    }

    .sidebar-flex {
        display: block;
    }

    .a-content_higher {
        margin-bottom: rem(112);
    }

    .a-sidebar-wrapper  {
        width: rem(280);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       /* padding: 0 rem(15);
        margin: 0 auto; */

    }


}


.a-bot-mrgn__none {
    margin-bottom: rem(0);
}



/* DA TAGZ
WAAAAGH!!!*/

.tags-orange {
    font-family: "AcromBold";
    font-size: rem(14);
    color: $button;
    margin-bottom: rem(16);
    text-align: center;
}

.a-event-list {
    margin-top: rem(38);
    padding-left: rem(21);

}


.a-content_higher{
    margin-bottom: rem(56);
}


.a-square {
    margin-bottom: rem(27);
    position: relative;
}

.a-square:last-child {
    margin-bottom: 0;
}

.a-square::before {
    content: "";
    width: rem(8);
    height: rem(8);
    position: absolute;
    top: rem(5);
    left: rem(-21);
    background-color: black;
    display: block;
    margin-right: rem(20);
}

//Contact me box
.a-form-sidebar {
    background-color: #181c27 ;
    padding-top: rem(40);
    padding-left: rem(40);
    padding-bottom: rem(40);
    padding-right: rem(40);
    margin-bottom: rem(57)
}

.a-title-third--form {
    color: $white;
    font-size: rem(16);
    font-weight: bold;
    font-family: "Acrom" ,sans-serif;
    text-transform: uppercase;
    line-height: rem(24);
}

.a-text-bold--form {
    color: $dark-blue ;
    margin-top: rem(29);
    margin-bottom: rem(20);
    text-transform: inherit;
    font-size: rem(12);
}


.a-input {
    width: 100%;
    background-color: rgba(0,0,0,0);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #32353f ;
    line-height: rem(40);
    color: $white;
    font-size: rem(15);
    margin-bottom: rem(30);
}



.a-input::placeholder {
    @extend .text-small;
    color: $white;
    text-transform: inherit;
    font-size: rem(14);
}

.a-button {
    display: block;
    margin: auto;
}
.a-sidebar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//FB-footer
//
//.a-sidebar-footer {
//    position: relative;
//    width: 100%;
//    border: rem(1) solid #e1e1e1;
//    }
//
//.a-side__upper-footer {
//    height: rem(130);
//    border-bottom: rem(1) solid #e1e1e1;
//    position: relative;
//}
//
//.a-picture__small {
//    height: rem(50);
//    width: rem(50);
//    background-color: #f1f1f1;
//    display: inline-block;
//    position: absolute;
//    top: rem(10);
//    left: rem(10);
//}
//    //Facebook LIKE button
//.a-like__btn {
//    height: rem(20);
//    width: rem(137);
//    position: absolute;
//    bottom: rem(10);
//    left: rem(10);
//    display: flex;
//    justify-content: space-evenly;
//    background-color: #f6f7f9;
//    border: none;
//}
//
//.a-like__btn .a-reg__btn, a {
//    font-family: Helvetica, Arial, sans-serif;
//    text-decoration: none;
//    vertical-align: middle;
//    font-weight: 700;
//    color: #4c5058;
//    font-size: rem(11);
//}
//
//.a-like__btn i {
//    color: #395898;
//}
//.a-reg__btn {
//    position: absolute;
//    right: rem(10);
//    bottom: rem(10);
//    height: rem(20);
//    width: rem(97);
//    display: flex;
//    background-color: #f6f7f9;
//    border: rem(1) solid #d2d4d8;
//    justify-content: space-around;
//}
//
//.a-side__lower-footer {
//    background-color: #f6f7f9;
//    padding: rem(13) rem(10) rem(10) rem(10);
//}
//
//.a-inside-footer__wrapper {
//    font-family: Helvetica, Arial, sans-serif;
//    font-size: rem(11);
//    font-weight: 500;
//    background-color: #fff;
//    box-shadow: 1px 1px 1px 1px #edeef0;
//    padding: rem(7);
//    color: #4b4f56;
//}
//.a-inside-footer__wrapper p {
//    padding-bottom: rem(7);
//}
//
//.a-fb-ur-friend-like {
//    height: rem(32);
//    width: rem(32);
//    margin-right: rem(2);
//    background-color: #f1f1f1;
//    display: inline-block;
//}
//
//.a-fb-ur-friend-like:last-child {
//    margin-right: rem(0);
//}


