.c-block-story{
    min-width: rem(320);
    max-width: rem(1440);
    background-color: #ffffff;
    padding: 0 rem(15);
}
.c-container-story{
    position: relative;
}
.c-container-story:before{
    content: "goit";
    transform: rotate(90deg);
    position: absolute;
    font-size: rem(160);
    color: rgba(0,0,0,0.1);
    font-family: "AcromExtrabold";
    text-transform: uppercase;
    top: rem(96);
    left: rem(144);
    display: none;
}

//.c-video-button{
//    width: rem(30);
//    height: rem(30);
//    border-radius: 50%;
//    background-color: transparent;
//    border-color: $checkbox;
//    position: absolute;
//    top: rem(272);
//    left: 50%;
//    transform: translate(-50%);
//}
//.c-video-play{
//    width: rem(30);
//    height: rem(30);
//}
.c-story-title{
    color: $white;
    font-size: rem(40);
    width: rem(231);
    margin: auto;

}
.c-story-title:nth-child(1){
    margin-bottom: rem(15);
}

.c-span-mod{
    display: inline-block;
    background-color: #000000;
}
.c-span-mod:first-child{
    margin-bottom: rem(5);
}
.c-story{
    position: relative;
    margin-bottom: rem(15);
}
.c-video-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.c-story__text{
    text-transform: none;
    display: block;
    margin-bottom: rem(15);
    color: $title;
    font-weight: bold;
}



.c-surename .text{
    text-transform: none;
    color: #000000;
    font-family: "AcromExtraBold" , sans-serif;
}
.c-surename .text-small{
    text-transform: none;
    font-family: Acrom;
    font-weight: bold;
    color: #7f828c;
    position: relative;
}
.c-button-plus{
    left: calc(100% - 26px);
    top: -26px;
}
.c-surename__allhistory{
    color: $button;
    text-decoration: none;
    font-family: FontAwesome;
    display: block;
    text-align: right;
}
.fal{
    padding-right: rem(10);
    vertical-align: middle;
}
//media 728
@media (min-width: 728px) {
    .c-container-story{
        display: flex;
        justify-content: space-between;
    }
    .c-history{
        flex-basis: 40%;
    }
    .c-story{
        flex-basis: 58%;
    }
    .c-surename{
        display: flex;
        justify-content: flex-start;
    }
    .c-surename-{
        display: flex;
        justify-content: flex-start;
    }
    .c-surename-more{
        order: 1;
        flex-grow: 1.50;
    }
    .c-surename__allhistory{
        text-align: left;
    }
    .c-allhistory{
        flex-grow: 1;
        padding-top: rem(24);
    }
    .c-button-plus{
        left: 40%;
        top: rem(-26);
    }
}
//media 960
@media (min-width: 960px) {
    .c-story-title{
        margin: 0;
    }
    .c-video-button{
        width: rem(46);
        height: rem(46);
    }
}
//media 1024
@media (min-width: 1024px){
    .c-container-story:before{
        display: block;
        font-size: rem(128);
    }
    .c-story__text:before{
        content: "";
        width: rem(50);
        height: rem(7);
        background-color: #202020;
        position: absolute;
        top: rem(10);
        left: rem(-90);
    }
    .c-story__text{
        position: relative;
        margin-left: rem(90);
        padding-right: rem(60);
    }
    .fa-long-arrow-right {
        font-size: 20px;
    }
    .c-surename__allhistory .text-small{
        color: $button;
    }
}
//media 1440
@media (min-width: 1440px) {
    .c-block-story{
        padding-top: rem(99);
    }
    .c-container-story:before {
        display: block;
        font-size: rem(200);
        top: rem(60);
        left: rem(8);
    }
    .c-history{
        padding-top: rem(39);
    }
    .c-story-title:nth-child(1){
        margin-bottom: rem(53);
    }
    .c-story-title{
        font-size: rem(48);
        width: rem(283);
    }
    .c-story__text{
        margin-bottom: 0;
        font-family: "AcromBold", sans-serif;
        padding-right: 0;
        width: rem(235);
    }
    .c-story__picture{
        margin-left: auto;
    }
    .c-surename-more{
        flex-grow: 0.81;
    }
    .text-small{
        font-family: AcromExtrabold;
        font-size: rem(16);
    }
}
