sup {
    font-size: rem(7);
}


.a-events-wrapper {
    min-width: rem(320);
    max-width: rem(1140);
    padding: rem(15);
    margin-top: rem(50);
}


.a-text-h1-decor {
    text-align: center;
    position: relative;
}

.a-small-box-wrapper {
    display: block;
    margin-bottom: rem(57);
}

.a-text-h3-decor {
    text-align: center;
    margin-bottom: rem(20);
}

.a-text-transform__cleared {
    text-transform: none;
    text-align: center;
}

.a-text-bolow-h1 {
    margin-bottom: rem(36);
}

//Contack me form

.a-form-sidebar {
    background-color: #181c27 ;
    padding-top: rem(40);
    padding-left: rem(40);
    padding-bottom: rem(40);
    padding-right: rem(40);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.a-title-third--form {
    color: $white;
    font-size: rem(16);
    font-weight: bold;
    font-family: "Acrom" ,sans-serif;
    text-transform: uppercase;
    line-height: rem(24);
    text-align: center;
}

.a-text-bold--form {
    color: $dark-blue ;
    margin-top: rem(29);
    margin-bottom: rem(20);
    text-transform: inherit;
    font-size: rem(12);
}


.a-input {
    width: 100%;
    background-color: rgba(0,0,0,0);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #32353f ;
    line-height: rem(40);
    color: $white;
    font-size: rem(15);
    margin-bottom: rem(15);


}



.a-input::placeholder {
    @extend .text-small;
    color: $white;
    text-transform: inherit;
    font-size: rem(14);
}
//contact me form end


.a-content-part {
    display: block;
    margin-bottom: rem(30);
}

.a-content-part h1 {
    width: rem(290);
    margin: 0 auto;
}


.a-format-data {
    display: block;
    margin-bottom: rem(15);
    flex-basis: 60%;
}


.a-button {
    display: block;
    margin: auto;
    border: none;
    font-weight: 900;
    font-size: rem(12);
    text-align: center;
    padding: rem(16.5) rem(54)
}

.a-btn-im-in {
    padding: rem(16.5) rem(22);
}

.a-img-display {
    display: none;
    margin-bottom: rem(25);
}

@media (min-width: 480px) {
    .a-format-data {
        flex-basis: auto;
    }

}

@media (min-width: 768px) {

    .a-small-box-wrapper{
        display: flex;
    }

    .a-flex-second-wrapper {
        display: flex;
    }

    .a-content-flex {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .a-content-flex > .a-format-data {
        flex-basis: 25%;
    }

    .a-flex-first-wrap {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .a-flex-wrap {
        flex-wrap: wrap;
    }

    .a-img-options {
        width: rem(326);
    }

    .a-format-data {
        flex-basis: 45%;
    }

    .a-text-bolow-h1 {
        margin-bottom: rem(5);
    }

}


@media (min-width: 960px) {
    .a-content-part h1 {
        width: 100%;
        margin: 0;
    }

    .a-top__h1-wrapper {
        max-width: rem(600);
    }

    .a-text-transform__cleared {
        text-align: left;
        font-size: rem(14);
    }
    .a-text-tiny-fit {
        font-size: rem(14);
    }

    .a-flex-second-wrapper {
        display: flex;
    }

    .a-flex-wrap {
        justify-content: space-evenly;
    }

    .a-img-display {
        display: flex;
        width: 38%;
    }

    .a-img-options {
        width: 100%;
    }

    .a-content-flex {
        width: 15%;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        display: block;
    }

    .a-last__format-data {
        margin: 0;
    }

    .a-format-data {
        text-align: left;
    }

    .a-content-responsive {
        width: 35%;
    }

    .a-text-bolow-h1 {
        margin-bottom: rem(25);
        width: 82%;
    }

    .a-text-h3-decor {
        text-align: left;
        font-size: rem(20);
    }

    .a-text-h1-decor {
        text-align: left;
        font-size: rem(55);
    }

}

@media (min-width: 1024px) {
    .a-events-wrapper {
        padding: 0;
        margin: rem(120) auto;

    }

    .a-form-sidebar {
        background-color: #181c27;
        padding-top: rem(40);
        padding-left: rem(40);
        padding-bottom: rem(40);
        padding-right: rem(40);
    }

    .a-title-third--form {
        padding: 0 rem(30);
    }

    .a-text-tiny-fit {
        font-size: rem(16);
    }

    .a-top__h1-wrapper h1 {
        font-size: rem(100);
        line-height: rem(100);
        width: rem(595);
        margin: 0;
    }

    .a-tiny-wrapper {
        width: 71.5%;
    }


    .a-top__h1-wrapper h1::before {
        content: '<h>';
        font-family: "Acrom" ,sans-serif;
        font-size: rem(10);
        font-weight: 400;
        color: #1b4371;
        position: absolute;
        left: rem(4);
        top: rem(-74);
        text-transform: none;
    }

    .a-top__h1-wrapper h1::after {
        content: '</h>';
        font-family: "Acrom" ,sans-serif;
        font-size: rem(10);
        font-weight: 400;
        color: #1b4371;
        position: absolute;
        right: rem(0);
        bottom: rem(-46);
        text-transform: none;
        display: block;
    }

}

@media (min-width: 1440px) {
    .a-events-wrapper {
        padding: 0;
        margin: rem(120) auto;
    }

    .a-form-sidebar {
        height: rem(465);
        width: rem(457);
        padding: rem(85);
        text-align: center;
    }


    .a-input {
        margin-bottom: rem(50);
    }

    .a-input::placeholder{
        text-align: center;
        margin-bottom: rem(25);

    }
    .a-title-third--form {
        font-size: rem(24);
        padding: 0 rem(20);
    }
    
    .a-img-display {
        width: rem(488);
        height: rem(420);
    }



}
