.wrapper {
    width: 100%;
    padding: 0 rem(10);
}

.c-trainers-gallery__block {
    //width: 100%;
}

.c-trainers-gallery__item {
    position: relative;
}

.c-trainers-gallery__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(20);
    position: relative;
    overflow: hidden;
}

.c-trainers-gallery__img {
    height: 100%;
}

.c-trainers-gallery .c-trainers-gallery__block:nth-child(n+2) {
    display: none;
}

.c-trainers-gallery__number {
    font-family: "Acrom ExtraBold", sans-serif;
    font-size: rem(10);
    color: $title;
    position: absolute;
    top: rem(20);
    left: rem(20);
    z-index: 1;
}

.sub-title span {
    display: block;
    position: relative;
}

.title-third__tl-line {
    margin-top: rem(120);
}

.title-third__tl-line:before {
    content: '';
    width: rem(7);
    height: rem(50);
    background-color: $title;
    position: absolute;
    top: rem(-70);
    left: rem(2);
}

.c-trainers-paging {
    font-family: "Acrom ExtraBold", sans-serif;
    font-size: rem(12);
    color: $button;
    margin: rem(30) 0 rem(50) 0;
}
.c-trainers-paging a {
    font-size: rem(18);
    color: $button;
    text-decoration: none;
}

.c-trainers-paging__numbers {
    margin: 0 rem(30);
}

.c-trainers-paging__selected {
    font-size: rem(30);
}

.c-text-small__back {
    font-family: "Acrom Medium", sans-serif;
    font-size: rem(12);
    text-transform: uppercase;
    line-height: rem(14);
    color: $white;
    background-color: $title;
    padding: 0 rem(2);
    display: inline-block;
    margin-bottom: rem(20);
}

@media (min-width: 480px) {
    .wrapper {
        width: 100%;
        padding: 0 rem(20);
    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 100%;
        padding: 0 rem(20);
    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 100%;
        padding: 0 rem(20);
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(n+2) {
        display: block;
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(n+3) {
        display: none;
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(even) {
        margin-left: rem(20);
    }

    .c-trainers-gallery {
        display: flex;
        justify-content: space-between;
    }

    .c-trainers-gallery__block {
        //width: 45%;
    }
}

/*@media (min-width: 1024px) {
    .wrapper {
        width: 100%;
        padding: 0 rem(20);
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(n) {
        display: flex;
        align-items: flex-end;
        margin: 0;
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(n+4) {
        display: none;
    }

    .c-trainers-gallery {
        flex-wrap: wrap;
    }

    .c-trainers-gallery__picture {
        margin-bottom: 0;
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(3n+1) {
        flex-basis: rem(555);
        justify-content: space-between;
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(3n+1) .c-trainers-gallery__item {
        margin-right: rem(30);
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(3n+1) .c-trainers-gallery__picture {
        width: rem(294);
        height: rem(294);
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(3n+2) {
        flex-basis: rem(614);
        flex-grow: 1;
        justify-content: space-between;
        margin-right: rem(50);
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(3n+2) .c-trainers-gallery__picture {
         width: 100%;
         height: rem(340);
     }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(3n+2) .c-trainers-gallery__item {
        order: 1;
        margin-left: rem(30);
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(3n+3) {
        flex-direction: column;
        flex-basis: rem(292);
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(3n+3) .c-trainers-gallery__picture {
        width: 100%;
        height: rem(214);
    }

    .c-trainers-gallery .c-trainers-gallery__block:nth-child(3n+3) .c-trainers-gallery__text {
         padding-left: rem(30);
     }

    !*.c-trainers-gallery__block:nth-child(3n+2) {
        flex-grow: 2;
    }

    .c-trainers-gallery__block:nth-child(3n+3) {
        flex-grow: 1;
    }*!
}*/
